<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>商品一覧ページ</title>
</head>
<body>
    <p>＜一覧表示＞</p>
    <button onclick="location.href='/'">一覧表示</button>
    <form action='/search'>
        <p>＜商品検索＞</p>
        <label>
            商品名    
            <input type="text" name="search">
        </label>
        <button type="submit" formmethod="POST">検索</button>
    </form>
    <form action='/result'>
        <p>＜新規登録＞</p>
        <label>
            商品名    
            <input type="text" name="name">
        </label>
        <label >
            値段
            <input type="text" name="price">       
        </label>
        <button type="submit" formmethod="POST">登録</button>
    </form>
    <form action='/update'>
        <p>＜商品変更＞</p>
        <label>
            コード
            <input type="text" name="code">
        </label>
        <label>
            商品名    
            <input type="text" name="name">
        </label>
        <label>
            値段
            <input type="text" name="price"
        </label>
        <button type="submit" formmethod="POST">変更</button>
    </form>
    <form action='/delete'>
        <p>＜商品削除＞</p>
        <label>
            コード    
            <input type="text" name="code">
        </label>
        <button type="submit" formmethod="POST">削除</button>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>コード</th>
                    <th>商品名</th>
                    <th>値段</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <th>{{item[0]}}</th>
                    <th>{{item[1]}}</th>
                    <th>{{item[2]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>
</html>